/* INLINE STYLE */
.bolded {
    font-family: 'Open Sans', sans-serif;
}

.secondary {
    color: #bbb;
    font-size: 17px;
}


/* ROOT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    font-size: calc(1em + 1rem);
}

body {
    font-size: 18px;
    line-height: 1.8rem;
    word-spacing: 0.1rem;
}


/* SIDE BAR */
.side-bar {
    position: fixed;
    height: 100vh;
    width: 250px;
    padding: 25px 0;
    background-color: #333;
    color: white;
    font-size: 20px;

    overflow-y: auto; /* Enable vertical scrolling */
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.side-bar * {
    text-align: center;
    margin: 20px 0;
}

.side-bar-footer {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px; /* Add a font size to adjust the text size */
}

.link-list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.link-list a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* CONTENT */
.content {
    margin-left: 250px;
    height: 100vh;
    color: #333333;
    max-width: 60rem;
}

.content-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page {
    padding: 50px 100px;
}

.page p {
    margin: 20px 0;
}

/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .content {
        margin: 0;
    }
    .page {
        padding: 25px 50px;
    }
    body {
        font-size: 16px;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1em;
        font-size: 1.8em;
    }
}