/* CONTENT */
.content {
    margin-left: 250px;
    height: 100vh;
    color: #333333;
    max-width: 90rem;
}

.content-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page {
    padding: 50px 100px;
}

.page p {
    margin: 20px 0;
}

.project-heading {
    margin: 20px 0;
    margin-top: 40px;
}

/* .active-projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
} */

/* @media (min-width: 760px) {
    .active-projects-list { grid-template-columns: 1fr; }
}   
@media (min-width: 1024px) {
    .active-projects-list { grid-template-columns: repeat(2, 1fr); }
}   
@media (min-width: 1624px) {
    .active-projects-list { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1900px) {
    .active-projects-list { grid-template-columns: repeat(4, 1fr); }
} */


.project-card-container:hover {
    transform: rotate(-0.003turn) scale(104%);
    transition: all .2s ease;
    cursor: pointer;
}

.project-card-container:active {
    transform: rotate(0.005turn) scale(95%);
    transition: all .05s ease;
    cursor: pointer;
}

.project-card-container {
    width: calc(285px + 0.5%);
    margin-bottom: 15px;
    /* ANIMATION DEFAULT */
    transform: scale(100%);
    transition: all .2s ease;
}

.project-card-top {
    border-radius:20px 20px  0 0;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 15px 15px 10px 15px;
}

.special {
    background: rgba(34, 192, 195, 0.397);
    background: linear-gradient(44deg, rgba(255, 67, 108, 0.3) 0%, rgba(39, 255, 165, 0.3) 100%);
}


.project-card-description {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    font-size: 15px;
}

.project-card-top p, .project-card-bottom p{
    margin: 10px 2px 2px 0;
}

.project-card-description p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
    word-spacing: 0.03rem;
}

.project-card-label {
    border-radius: 12px;
    border: 1px solid #bbb;
    background-color: #ffffff;
    color: #777;
    padding: 1px 10px;
    display: inline-block;
    user-select: none;
    font-size: 0.8rem;
}


.project-card-bottom {
    border-radius: 0 0 20px 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px 15px 15px 15px;
}

/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }
    .page {
        padding: 25px 50px;
    }
    body {
        font-size: 16px;
    }

    h1 {
        line-height: 1.1em;
        font-size: calc(1em + 0.6rem);
    }
    
    h2 {
        line-height: 1.1em;
        font-size: calc(1em + 0.4rem);
    }
    
    h3, h4, h5, h6 {
        line-height: 1.1em;
        font-size: calc(1em + 0.2rem);
    }
    
    h4 {
        line-height: 1.1em;
        font-size: calc(1em);
    }
    
    h5 {
        line-height: 1.1em;
        font-size: 0.8em;
    }
}