/* CONTENT */
.content {
    margin-left: 250px;
    height: 100vh;
    color: #333333;
    max-width: 60rem;
}

.content-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page {
    padding: 50px 100px;
}

.page p {
    margin: 20px 0;
}

/* POST */
.post-h-line {
    background-color: #ddd;
    height: 2px;
    margin: 20px 0;
}

li {
    margin-left: 30px;
}

a {
    color: #333333;
    font-weight: bold;
}

::selection {
    color: #000000;
    background-color: rgba(255, 255, 0, 0.2);
}


/* IMAGES ATTACHMENTS */
.image-attachments {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .image-attachments {
        flex-direction: column;
    }
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    transform: scale(100%);
    transition: all .2s ease;
}

img:hover {
    transform: rotate(-0.005turn) scale(103%);
    transition: all .2s ease;
    cursor: pointer;
}


img:active {
    transform: rotate(0.01turn);
    transition: all .1s ease;
    cursor: pointer;
}

/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }
    .page {
        padding: 25px 50px;
    }
    body {
        font-size: 16px;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1em;
        font-size: 1.8em;
    }
}