/* INLINE STYLE */
.bolded {
    font-family: 'Open Sans', sans-serif;
}

.secondary {
    color: #bbb;
}

.left-aligned {
    text-align: left;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.extra_hr_padding {
    padding: 0 10px;
}

.small-p {
    font-size: 15px;
}

.medium-p {
    font-size:18px;
}