/* INLINE STYLE */
.bolded {
    font-family: 'Open Sans', sans-serif;
}

.secondary {
    color: #bbb;
}

.left-aligned {
    text-align: left;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.extra_hr_padding {
    padding: 0 10px;
}

.small-p {
    font-size: 15px;
}

.medium-p {
    font-size:18px;
}

.indented {
    text-indent: 32px;
}

.rainbow-text {
    /* CREDITS TO https://w3bits.com/rainbow-text/ */
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}


/* DIV */
.inline {
    display: inline;
}