/* SIDE BAR */
.sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: #333;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* Enable vertical scrolling */
    overflow-y: auto; 
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.sidebar * {
    text-align: center;
    margin: 12px 0;
}

.sidebar-more-info {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    padding-bottom: 20px; /* Extra spacing at the bottom */
}

.sidebar-more-info * {
    text-align: center;
    margin: 0;
}

.sidebar-more-info h5 {
    margin-bottom: 10px;
}

.sidebar-footer {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px; /* Add a font size to adjust the text size */
}

.link-list {
    display: flex;
    flex-direction: column;
}

.link-list a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.link-list-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 25px;
}

.link-list-info * {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;;
}

.link-list-info i {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-top: 10px;
}

.sidebar-horizontal-line {
    background-color:rgba(255, 255, 255, 0.1);
    height: 2px;
    margin: 25px 10px;
}


/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 768px) { 
    .sidebar {
        display:none;
    }
}
